@font-face{
  font-family: 'calculator';
  src: url('./fonts/calculator.ttf')
}

* {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  background-color: dimgrey;
  width: 500px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto);
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
}

.display, .btn {
  width: 100px;
  height: 100px;
  border: 2px solid dimgrey;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  outline: none;
  border-radius: 50px;
}

.fn-btn {
  background-color: darkgrey;
}

.display {
  font-family: 'calculator';
  padding-right: 10px;
  width: 480px;
  background-color: lightgrey;  
  grid-column: span 4;
  border-radius: 20px;
  text-align: right;
  line-height: 0px;
}

.disp-row1 {
  margin: 20px 10px;
  font-family: 'calculator';
  font-size: 30px;
}

.disp-row2 {
  margin: 40px 10px;
  font-family: 'calculator';
  font-size: 50px;
}

.num-btn, .math-btn, .fn-btn, .eq-btn {
  font-weight: bold;
  cursor: pointer;
}

.num-btn {
  background-color: darkgrey;
}

.math-btn, .eq-btn {
  background-color: #edc361;
}

.blank {
  background-color: dimgrey;
}

.btn:hover {
  filter: brightness(80%);
  border: 2px solid white;
}

.btn:active {
  filter: brightness(50%);
}

.active {
  filter: brightness(50%);
}